body {
    background: #bbbcbc;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.jumbotron {
    background-color: #0f738f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.jumbotron h1 {
    font-size: 2.5em;
    margin: 0;
}

.jumbotron p {
    font-size: 1.2em;
    margin-top: 10px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td {
    height: 125px;
    width: 125px;
    text-align: center;
    border: 5px solid #06d1ff40;
    font-size: 100px;
    cursor: pointer;
    background-color: rgb(208, 204, 204);
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: #f8f9fa;
}

td.x {
    color: #135770;
}

td.o {
    color: #dc3545;
}

td.empty {
    color: #6c757d;
}
